@model Calificaciones.Models.EstudiantesModels

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mb-4">
    <h1 class="display-4 fw-bold">Información Estudiantes</h1>
</div>


<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoMatricula)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Index" class="btn btn-outline-success" >Regresar al inicio</a>
</div>
